@using Highsoft.Web.Mvc.Charts
@{
    ViewBag.Title = "Usage | MSSQLScreen";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}


<div class="row">  
    @(Html.Highsoft().Highcharts(
        new Highcharts
        {
            Chart = new Highsoft.Web.Mvc.Charts.Chart
            {
                Type = ChartType.Spline,
                Animation = new Animation
                {
                    Enabled = true
                },
                MarginRight = 10,
                Events = new ChartEvents
                {
                    Load = "initMemoryChart"
                }
            },
            Title = new Title
            {
                Text = "Available Memory"
            },
            XAxis = new List<XAxis>
            {
                new XAxis
                {
                    Type = XAxisType.Datetime,
                    TickPixelInterval = 150
                }
            },
            YAxis = new List<YAxis>
            {
                new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = "MB"
                    },
                    PlotLines =  new List<YAxisPlotLines>
                    {
                        new YAxisPlotLines
                        {
                            Value = 0,
                            Width = 1,
                            Color = "#808080"
                        }
                    }
                }
            },
            Tooltip = new Tooltip
            {
                Formatter = "formatTooltip"
            },
            Legend = new Legend
            {
                Enabled = false
            },
            Exporting = new Exporting
            {
                Enabled = false
            },
            Series = new List<Series>
            {
                new SplineSeries
                {
                    Name = "Available Memory"
                }
            }
        }
        , "memorychart")
            )

    @(Html.Highsoft().Highcharts(
        new Highcharts
        {
            Chart = new Highsoft.Web.Mvc.Charts.Chart
            {
                Type = ChartType.Spline,
                Animation = new Animation
                {
                    Enabled = true
                },
                MarginRight = 10,
                Events = new ChartEvents
                {
                    Load = "initCPUChart"
                }
            },
            Title = new Title
            {
                Text = "CPU Usage"
            },
            XAxis = new List<XAxis>
            {
                new XAxis
                {
                    Type = XAxisType.Datetime,
                    TickPixelInterval = 150
                }
            },
            YAxis = new List<YAxis>
            {
                new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = "%"
                    },
                    PlotLines =  new List<YAxisPlotLines>
                    {
                        new YAxisPlotLines
                        {
                            Value = 0,
                            Width = 1,
                            Color = "#808080"
                        }
                    }
                }
            },
            Tooltip = new Tooltip
            {
                Formatter = "formatTooltip"
            },
            Legend = new Legend
            {
                Enabled = false
            },
            Exporting = new Exporting
            {
                Enabled = false
            },
            Series = new List<Series>
            {
                new SplineSeries
                {
                    Name = "CPU Usage"
                }
            }
        }
        , "chart")
    )

</div>
