@using Highsoft.Web.Mvc.Charts
@{
    ViewBag.Title = "Usage | MSSQLScreen";
    Layout = "~/Views/Shared/Master/_Layout_Home.cshtml";
}


<div id="memorychart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="cpuchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>