@model IEnumerable<MSSQLScreen.Models.AdminAccount>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/Master/_Layout_Superadmin.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Admin List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="jobtable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="jobtable_info">
                    <thead>
                        <tr class="active">
                            <th><strong>Name</strong></th>
                            <th><strong>Username</strong></th>
                            <th><strong>Last Login</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userlist in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(userlist.Name, "LoginHistory", new { controller = "User", id = userlist.Id}, null)</td>
                                <td>@userlist.Username</td>
                                <td>@userlist.LastLogin</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><strong>Name</strong></th>
                            <th><strong>Username</strong></th>
                            <th><strong>Last Login</strong></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

