@model IEnumerable<MSSQLScreen.Models.LoginHistory>
@{
    ViewBag.Title = "LoginHistory";
    Layout = "~/Views/Shared/_Layout_Job.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Login History</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="jobtable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="jobtable_info">
                    <thead>
                        <tr class="active">
                            <th><strong>Login Date</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loginhistory in Model)
                        {
                            <tr>
                                <td>@loginhistory.LoginDate</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><strong>Login Date</strong></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

