@model IEnumerable<MSSQLScreen.Models.ServerList>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Master/_Layout_Superadmin.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Job List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="jobtable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="jobtable_info">
                    <thead>
                        <tr class="active">
                            <th><strong>IP Address</strong></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var server in Model)
                        {
                            <tr>
                                <td>@server.IPAddress</td>
                                <td>@Html.ActionLink("Connect", "Connect", new { controller = "Server", id = server.Id}, new { @class = "btn btn-sm btn-primary"})</td>
                                <td>@Html.ActionLink("Remove", "Remove", new { controller = "Server", id = server.Id }, new { @class = "btn btn-sm btn-primary" })</td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>